export ARBZRUSER=xho
export ARSVNUSER=xho

if [[ "$PERL5LIB" == ?(*:)"/opt/ardome/lib/perl"?(:*) ]];
then
    export IS_VIZONE=1                                                                                                                                                                                                                                                   
fi
